@font-face {
  font-family: "kr";
  src: url("http://qiniu.unclear.top/kr.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fzjlc";
  src: url("http://qiniu.unclear.top/fzjlc.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fzjlx";
  src: url("http://qiniu.unclear.top/fzjlx.ttf");
  font-weight: normal;
  font-style: normal;
}
